#sky
{
    width: 100vw;
    height: 80vh;
    background-image: linear-gradient(rgba(202,240,243,1) 40%, rgba(0,0,0,0));
    z-index: -1;
    position: absolute;
    top:0;
}

#school
{
    margin: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 45vh;
}
.banner
{
    background-color: #272727;
    width: 50vw;
    height: 20vh;
    border-radius: 20px;
}