#sky
{
    width: 100vw;
    height: 40vw;
    background-image: linear-gradient(rgba(171, 249, 255) 40%, rgba(0,0,0,0));
    z-index: -1;
    position: absolute;
    top:0;
}

#clouds
{
    transition-duration: 5s;
    transition-timing-function: linear;
    position: absolute;
    width: 100vw;
    height: 25vw;
}

.cloud
{
    z-index: -1;
    width: 15vw;
    position: absolute;
    transition-duration: 5s;
    transition-timing-function: linear;
}

.up
{
    top:0;
}

.down
{
    top:1vw;
}

#school
{
    margin: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 23vw;
}
.banner
{
    background-color: #272727;
    width: 50vw;
    height: 20vh;
    border-radius: 20px;
}

.homeTitle
{
    margin: auto;
    width: 100%;
    font-size: 4vw;
}
.homePara
{
    margin: 0;
    font-size: 2vw;
    font-family: 'Open Sans Condensed', sans-serif;
}

#welcome
{
    width: 100vw;
    height: 30vw;
}

#welcomeText
{
    position: relative;
    top:  35%;
    left: 46%;
    width:48%;
}

#whatDoWeDo
{
    width: 100vw;
    height: 50vw;
}

#whatDoWeDoText
{
    position: relative;
    top: 33%;
    left: 5%;
    width: 50%;
}

#checkout
{
    width: 100vw;
    height: 50vw;
}

#person
{
    position: relative;
    left: 10%;
    width:70%;
}

#executives
{
}
