html
{
    scroll-behavior: smooth;
}

a:visited {
  color: gray;
}

.articleBox
{
    position: relative;
    display: block;
    margin:auto;
    width: 90vw;
    max-width: 1000px;
    min-height: 200px;
    margin-top: 2%;
    background: #FFFFFF;
    border-color: #a0a0a0;
    border-width: 1px;
    border-style: solid;
}

.articleThumb
{
    position: relative;
    height: 100%;
    width: 30%;
    left: 2%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 2%;
}

.articleImage
{
    margin:2%;
    max-width:100%;
    max-height: 100%;
}

.articleInfo
{
    position: absolute;
    top: 5%;
    width: 55%;
    left: 40%;
}

.share
{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.delete
{
    position: absolute;
    right: 80px;
    bottom: 10px;
}

.image
{
    width: 80%;
    position:absolute;
    top: 20%;
    left: 10%;
    transition-duration: 1s;
}

.hide
{
    opacity: 0;
}

.show
{
    opacity: 1;
}

.window
{
    width: 100vw;
    height: 100vh;
}

#imageSide
{
    position: absolute;
    left:0;
    width:67%;
    height:100%;
}

#textSide
{
    position: absolute;
    width:33%;
    left:67%;
    overflow:scroll;
    height: 100%;
    overflow-x: hidden;
    border-color: black;
    border-width: 1px;
    border-left-style: solid;
}

.slidingText
{
    margin-bottom: 70vh;
    margin-left:5%;
}

#textSide::-webkit-scrollbar-corner
{
    background: transparent;
}
#textSide::-webkit-scrollbar-track-piece-start
{
    background: transparent;
    margin-top: 10px;
}

#textSide::-webkit-scrollbar-track-piece-end
{
    background: transparent;
    margin-bottom: 10px;
}

#textSide::-webkit-scrollbar
{
    background: transparent;
}
#textSide::-webkit-scrollbar-thumb
{
    background: transparent;
}