body
{
    margin: 0;
    background-color: #FCCCC0;
    overflow-x: hidden;
}

#nav
{
    background-color: #000000;
    height: 45px;
    width: 100vw;
    position: fixed;
    top: 0;
    left:0;
    z-index: 2;
    text-align: center;
}

#content
{
    margin: 0;
    width:100vw;
    margin-top: 75px;
}

#footer
{
    position: relative;
    bottom:0;
    width:100%;
    padding-bottom:2%;
    text-align: center;
}

.nav-item
{
    color: #ffffff !important;
    font-family: "Times New Roman", Times, serif;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    margin: 1%;
    margin-top: 15px;
}

.nav-item:hover
{
    transition-duration: 0.4s;
    color: #FFD966 !important;
}

#title
{
    margin: auto;
    text-align: center;
    width: 100%;
    font-size: 50px;
}

h1
{
    font-family: 'Cinzel', serif;
}

p
{
    margin: 10px;
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
}

a:link{
    color: #FFD966;
}

.arrow
{
    height: 30%;
    width: auto;
    margin:auto;
    vertical-align: middle;
    top: 40%;
    z-index: 1;
}

.arrow:hover
{
    height: 35%;
    top: 37.5%;
    cursor: pointer;
}

.right
{
    position: absolute;
    right: 0;
}

.left
{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    left: 0;
}

.left:hover
{
    left: -0.5%;
}

.right:hover
{
    right: -0.5%;
}

.carousel
{
    vertical-align: middle;
    position: relative;
    width: 20vw;
    height: 20vw;
}

.carousel-items
{
    height: 100%;
    width: 100%;
    position: relative;
}

.carousel-item
{
    height:100%;
    border-radius: 20px;
    margin: auto;
    vertical-align: middle;
}

.shown-carousel-item
{
    display: block;
}

.hidden-carousel-item
{
    display: none;
}

.section
{
    background-color: #C02C2C;
    color: #ffffff;
    text-align: center;
    width: 100%;
    font-size: 50px;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
}