body
{
    margin: 0;
    background-color: #FCCCC0;
}

#nav
{
    background-color: #000000;
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0;
    left:0;
    z-index: 2;
    text-align: center;
}

#content
{
    margin: 2%;
    margin-top: 75px;
}

#footer
{
    position: absolute;
    bottom:0;
    width:100%;
    padding-bottom:2%;
    text-align: center;
}

.nav-item
{
    color: #ffffff !important;
    font-family: "Times New Roman", Times, serif;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    margin: 1%;
    margin-top: 15px;
}

.nav-item:hover
{
    transition-duration: 0.4s;
    color: #FFD966 !important;
}

#title
{
    margin: auto;
    text-align: center;
    width: 100%;
    font-size: 50px;
}

h1
{
    font-family: 'Cinzel', serif;
}

p
{
    font-family: 'Open Sans Condensed', sans-serif;
}

a:link{
    color: #FFD966;
}

.arrow
{
    background-color: #272727;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    margin:auto;
    vertical-align: middle;
    top: 50%;
}

.right
{
    position: absolute;
    right: 0;
}

.left
{
    position: absolute;
    left: 0;
}

.carousel
{
    vertical-align: middle;
    position: relative;
    width: 20vw;
    height: 20vw;
}

.carousel-item
{
    width:80vw;
    display: inline-block;
    margin: auto;
    vertical-align: middle;

}