{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='issues.css') }}">
<script src="{{ url_for('static', filename='adminBlog.js') }}"></script>
{% endblock %}
{% block decorations %}
{% endblock %}
{% block content %}

    <form id="form" method = "POST">
        <input type="hidden" id="hidden" name="postNumber" value="">
    </form>

    <h1 id="title">{{name}}</h1>

    {% for post in posts %}
        <div class="articleBox">
            <a href="/admin/blog/edit/{{post[4]}}" class="articleInfo">
                <h1>{{post[0]}}</h1>
                <p>{{post[1][6:8]}}/{{post[1][4:6]}}/{{post[1][0:4]}}</p>
            </a>
            {% if post[5] == false %}
                <input type="button" value="share" onclick="submit({{post[4]}})">
            {% else %}
                <input type="button" value="unshare" onclick="submit({{post[4]}})">
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}