{% extends "admin-layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='issues.css') }}">
<script src="{{ url_for('static', filename='adminBlog.js') }}"></script>
{% endblock %}
{% block decorations %}
{% endblock %}
{% block content %}

    <form id="form" method = "POST">
        <input type="hidden" id="number" name="number" value="">
        <input type="hidden" id="decision" name="decision" value="">
    </form>

    <h1 id="title">{{name}}</h1>

    <div style="height:50px;">
    <a href="/admin/blog/upload" style="position:absolute; right:30%;">
        <div class="button">
            Upload
        </div>
    </a>
    </div>

{% for post in posts %}
        <div class="articleBox">
            {% if post[3]|length > 0 %}
            <div class="articleThumb">
                <img src="{{ url_for('static', filename='uploads/'+post[3][0]) }}" class="articleImage">
            </div>
            {% endif %}

            <div class="articleInfo">
                <h1>{{post[0]}}</h1>
                <p>{{post[1][6:8]}}/{{post[1][4:6]}}/{{post[1][0:4]}}</p>
            </div>

            <input type="button" value="delete" onclick="submit('{{post[4]}}', 'delete')" class="delete">
            {% if post[5] == false %}
                <input type="button" value="share" onclick="submit({{post[4]}}, 'toggle')" class="share">
            {% else %}
                <input type="button" value="unshare" onclick="submit({{post[4]}}, 'toggle')" class="share">
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}