<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin-style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>{{name}} - Lohs SSC</title>
    <meta charset="UTF-8">
    {% block head %}{% endblock %}
</head>
<body {% block onload %}{% endblock %}>


    <div id="nav">

        <a href="/home" class="nav-item">
            Home
        </a>

        <a href="/admin/issues" class="nav-item">
            Issues
        </a>

        <a href="/admin/blog" class="nav-item">
            Blog
        </a>

    </div>
    <div id="decorations">
        {% block decorations %}{% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        This is the admin side of the website, go to the <a href="/">main site</a> to see the changes made
        <br>
        If you hacked your way here please be cool and email our website leader Sam Low at s.low2@share.epsb.ca
    </div>
</body>
</html>