{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}
{% block decorations %}
    <div id="sky"></div>
{% endblock %}
{% block content %}
    <div class="carousel" style="width:50%;">
        <div onclick="moveCarousel(this,-1)" class="left arrow"></div>
        <div class="carousel-items">
            <img class="shown-carousel-item carousel-item" src="{{ url_for('static', filename='among.jpg') }}">
            <img class="hidden-carousel-item carousel-item" src="{{ url_for('static', filename='among1.png') }}">
        </div>
        <div onclick="moveCarousel(this,1)" class="right arrow"></div>
    </div>

    <h1>hey</h1>
{% endblock %}