{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}

{% block onload %}
    onload="setupClouds(23);"
{% endblock %}

{% block decorations %}
    <div id="sky"></div>
    <div id="clouds" class="up"></div>
    <img src="static/bg.svg" id="school">
{% endblock %}
{% block content %}
    <div class="carousel" style="width:80%; height: 10vw; margin:auto; margin-top: 80px;">
        <img src="static/button.svg" onclick="moveCarousel(this,-1)" class="left arrow">
        <div class="carousel-items">
            <img class="shown-carousel-item carousel-item" src="{{ url_for('static', filename='report_form.svg') }}">
            <img class="hidden-carousel-item carousel-item" src="{{ url_for('static', filename='among1.png') }}">
        </div>
        <img src="static/button.svg" onclick="moveCarousel(this,1)" class="right arrow">
    </div>

    <div id="welcome">
        <div id="welcomeText">
            <h1 class="homeTitle">Welcome!</h1>
            <p class="homePara">
                Welcome to the Student Solidarity committee's website! This committee was created to address many of the
                prevalent social issues within present day society, and acknowledge the identities and struggles of the
                individuals within our school. Therefore, this committee strives to merge student’s social awareness
                with their academic education.
            </p>
        </div>
    </div>

    <div id="whatDoWeDo">
        <div id="whatDoWeDoText">
            <h1 class="homeTitle">What Do We Do?</h1>
            <p class="homePara">
                Thanks to the generosity of our school community, we've supported several institutions such as the Today
                Center. We also research various issues and current events in order to be a source of reliable
                information for our fellow students!
            </p>
        </div>
    </div>

    <div id="checkout">
        <img src="static/person.svg" id="person">
    </div>

    <div class="section">
        Meet Our Executives
    </div>

    <div id="executives">
        <div class="exec-block">
            <div class="exec-box left-exec" style="background-color: #6CD36C;">
                Thatcher
            </div>
            <img src="static/thatcher.png" class="exec-img right-exec">
        </div>

        <div class="exec-block">
            <div class="exec-box right-exec" style="background-color: #936CD3;">
                Thatcher
            </div>
            <img src="static/thatcher2.png" class="exec-img left-exec">
        </div>

        <div class="exec-block">
            <div class="exec-box left-exec" style="background-color: #C02C2C;">
                Thatcher
            </div>
            <img src="static/thatcher3.png" class="exec-img right-exec">
        </div>

    </div>
{% endblock %}