{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='issues.css') }}">
{% endblock %}
{% block decorations %}
{% endblock %}
{% block content %}
<h1 id="title">{{name}} <span><a href="{{url_for('rssIssues')}}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Generic_Feed-icon.svg/512px-Generic_Feed-icon.svg.png?20120905025810" style="position:relative; width: 50px; bottom:-5px;"></a></span></h1>

    <div style="width: 100vw;">


    </div>

    {% for issue in issues %}
        <div class="articleBox">
            <div class="articleThumb">
                <img src="{{ url_for('static', filename='uploads/'+thumbs[loop.index0]) }}" class="articleImage">
            </div>

            <a href="/issues/{{issue[3]}}" class="articleInfo">
                <h1>{{issue[0]}}</h1>
                <p>{{issue[1][6:8]}}/{{issue[1][4:6]}}/{{issue[1][0:4]}}</p>
                <p>{{issue[2]}}</p>
            </a>
        </div>
    {% endfor %}
{% endblock %}