<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>{{name}} - Lohs SSC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    {% block head %}{% endblock %}
</head>
<body {% block onload %}{% endblock %}>
    <div id="nav">
        <a href="/home" class="nav-item">
            Home
        </a>

        <a href="/issues" class="nav-item">
            Issues
        </a>

        <a href="/blog" class="nav-item">
            Blog
        </a>

    </div>
    <div id="decorations">
        {% block decorations %}{% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        If you would like to contact us about any of the content on our website, please email our website leader Sam Low at s.low2@share.epsb.ca
        <br>
        Thank you to our very skilled website team for designing and developing our very good website - the website team
    </div>
</body>
</html>