{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='uploadBlog.css') }}">
    <script src="{{ url_for('static', filename='uploadBlog.js') }}"></script>
{% endblock %}
{% block decorations %}
{% endblock %}
{% block content %}

    <form method=post enctype=multipart/form-data>
        <center>
        <input id="title" type="text" name="title" value="Title">
        <br>
        Add New Image
        <input class="file" type=file name=file>
        <div class="button" onclick="newImage()"></div>
        <br>
        <textarea id="text" name="text">Words go here...</textarea>
        <br>
        <input type=submit value=Upload>
        </center>
    </form>

{% endblock %}
